.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modal-content {
  width: 80vw;
  height: 90vh;
  background-color: #27272a;
  border-radius: 12px;
  z-index: 101;
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 2.5rem;
  font-weight: 300;
  color: #a1a1aa;
  cursor: pointer;
  line-height: 1;
  transition: all 0.2s ease;
  z-index: 102;
}

.modal-close-btn:hover {
  color: #f59e0b;
  transform: scale(1.1);
}

.modal-body {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
}
